streamlit
boto3
python-dotenv
langchain
langchain-aws
langchain-community
langchain-core
requests
beautifulsoup4
nltk
pytz
openpyxl
pandas
PyPDF2
python-docx
python-pptx
pydantic
mcp
modelcontextprotocol
